.dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 200px;
}

.dropdown-button {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  height: 75%;
  text-align: left;
  cursor: pointer;
  color: black; /* Set the text color to black */
  position: relative; /* To position the arrow icon */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.dropdown-button::after {
  content: '\25BC'; /* Unicode character for down arrow */
  font-size: 12px;
  position: absolute;
  right: 10px; /* Position the arrow on the right side */
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-button:hover {
  background-color: #26355D; /* Change background color on hover */
  color: white; /* Optionally change text color to white for better contrast */
}

.checkbox-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px; /* Adjust the max height for the dropdown */
  overflow-y: auto;  /* Enable scrolling for the entire dropdown */
  z-index: 100;
  width: 100%;
}

.checkbox-option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.checkbox-option input {
  margin-right: 10px;
}

.checkbox-option:hover {
  background-color: #f0f0f0;
}

.filter-group {
  margin-bottom: 20px;
}
