.checkbox-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox-group {
    margin: 10px;
  }
  
  .checkbox-item {
    margin: 5px;
  }
  
  .checkbox-item input {
    margin-right: 5px;
  }