.head-of-page {
    background: linear-gradient(135deg, rgba(52, 152, 219, 0.8) 0%, rgba(44, 62, 80, 0.8) 100%);
    color: #fff;
    padding: 150px 20px; /* Increased padding */
    text-align: center;
    /* margin-bottom: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 50vh; /* Set a minimum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
}

.title {
    font-size: 90px; /* Increased font size */
    margin-bottom: 20px; /* Increased margin */
    font-weight: 500;
    text-transform: uppercase; /* Changed text to uppercase */
    padding-top: 100px;
    color: #040404;
    letter-spacing: 4px; /* Added letter spacing */

}

.description {
    font-size: 1.4rem; /* Increased font size */
    line-height: 1.6;
    font-weight: 400;
    max-width: 800px; /* Increased max-width */
    margin: 0 auto;
    padding: 0 20px; /* Added padding for better readability */
    letter-spacing: 1px; /* Added letter spacing */
    
}
