.job-card {
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.job-card:hover {
  background-color: #f0f7ff; /* Light blue background on hover */
  box-shadow: 0 10px 20px rgba(0, 115, 177, 0.15); /* Blue-tinted shadow */
  transform: translateY(-5px);
}

.job-card-header {
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.job-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 5px;
}

.job-company {
  font-size: 1em;
  color: #0073b1;
  font-weight: 500;
}

.job-card-body {
  padding: 20px;
  flex-grow: 1;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.job-card-body.expanded {
  max-height: 1000px; /* Adjust this value based on your content */
}

.job-card-body.collapsed {
  max-height: 100px;
}

.job-field_of_expertise,
.job-minimum_experience,
.job-soft_skills,
.job-technical_skills,
.job-industry,
.job-scope_of_position,
.job-job_type {
  font-size: 1rem; /* Adjust the font size as needed */
  margin-bottom: 8px;
  color: #2d3748;
}

.job-field_of_expertise .title,
.job-minimum_experience .title,
.job-soft_skills .title,
.job-technical_skills .title,
.job-industry .title,
.job-scope_of_position .title,
.job-job_type .title {
  font-weight: 600;
  color: #2d3748;
  margin-right: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.job-location,
.job-date {
  margin-bottom: 10px;
  color: #555;
  display: flex;
  align-items: center;
}

.job-location i,
.job-date i {
  margin-right: 8px;
  color: #0073b1;
}

.job-details {
  margin-top: 15px;
}

.job-details p {
  margin-bottom: 8px;
  color: #333;
  font-size: 0.9rem; /* Adjust font size here */
}


.title {
  font-weight: 600;
  color: #2c3e50;
  margin-right: 5px;
  
}

.job-card-footer {
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.show-more {
  background-color: #26355D;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.button.show-more:hover {
  background-color: #005b92;
}

.job-link {
  color: #0073b1;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.job-link:hover {
  color: #005b92;
}

.job-link i {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .job-card-footer {
    flex-direction: column;
    gap: 10px;
  }

  .button.show-more,
  .job-link {
    width: 100%;
    text-align: center;
  }
}