/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: 'Helvetica', sans-serif;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
}

.navbar.scrolled {
  background-color: rgba(1, 16, 26, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 70px;
}

.navbar-logo {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
}

.navbar-logo:hover {
  color: #fff;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-right: 10px;
}

.nav-item {
  margin-left: 30px;
}

.nav-links {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-links:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .navbar-logo {
    margin-bottom: 20px;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links {
    display: block;
    padding: 10px;
  }
}
